.grid-container { 
    display: grid;
    background-color: #555;
    color: white;
    border-color: black;
    border-bottom-style: inset;
    border-width: 1px;
}

.grid-item { 
    text-align: left;
    padding: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: 'Calibri', Arial;
}

.flightNo {
    grid-column: 3 / span 2;
    grid-row: 1;
    align-items: right;
    padding-right: 1px;
    padding-left: 5px ;
    font-size: 20px
}

.time { 
    grid-column: 1;
    grid-row: 2;
    font-weight: bold; 
    font-size: 20px;

}

.status { 
    grid-column: 4;
    grid-row: 2;
    color: yellow
}

.POC { 
    grid-column: 2 / span 2;
    grid-row: 2;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    
}

.arrDep { 
    grid-column: 2;
    grid-row: 1; 
}

.date { 
    grid-column: 1;
    grid-row: 3;
}

.otherInfo {
    grid-column: 3 / span 2;
    grid-row: 3;
    /* color: red; */
    font-weight: bold; 
}